attrs==21.2.0
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
importlib-metadata==4.8.1
iniconfig==1.1.1
mpmath==1.2.1
numpy==1.21.2
packaging==21.0
parse==1.19.0
pluggy==1.0.0
py==1.10.0
pygame==2.0.1
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-timeout==2.0.1
rich==10.12.0
toml==0.10.2
typing-extensions==3.10.0.2
zipp==3.6.0
Pillow==8.3.2
